@page "/videos"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Text;
@using System.Net.Http.Headers;
@using System.Text.Json;
@inject NavigationManager NavigationManager


<style>
    u a {
        text-decoration: none !important;
    }
    a {
        font-size: 14px; 
        margin-left: 10px;
        color:white; 
        text-decoration: none;
    }
   .map-container{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        color:white;
   }

        .map-container iframe {
            width: 100%;
            height: 200px; /* Reduzco la altura del mapa iframe */
            border: 0;
        }
    .card {
        margin: 10px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
        color:white;
        background: linear-gradient(0deg, rgba(128, 128, 128, 0), rgba(0, 0, 0, 0));
    }

    /* Estilos para los iconos */
    .icon {
        font-size: 24px;
        margin-right: 10px;
    }

    .map-container {
        background-image: url('/images/back.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }

        /* Estilos para el mapa iframe */
        .map-container iframe {
            width: 100%;
            height: 250px; /* Puedes ajustar la altura según tus necesidades */
            border: 0; /* Elimina el borde del iframe */
        }

    .logop {
        text-size-adjust: 100%;
        -webkit-tap-highlight-color: white;
        font-style: normal;
        font-weight: 400;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        box-sizing: inherit;
        text-decoration: none;
        color: white;
        cursor: pointer;
        background-color: #a9dcf6;
        float: left;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-ordinal-group: 2;
        order: 1;
        z-index: 300;
        width: 100px;
        height: 100px;
        line-height: 60px;
        float: left; /* Posición a la izquierda */
        margin-right: 20px;
        border-radius:50%;
        }

    .card h3 {
        font-size: 16px; /* Reduzco el tamaño del texto de la escuela */
        font-weight: 600;
        color: white;
    }

    .card p {
        font-size: 14px; /* Reduzco el tamaño del texto de las vías */
        color: white;
    }
    div > input[type="text"] {
        width: 300px; /* Ancho del campo de búsqueda */
        padding: 10px; /* Espaciado interior */
        margin: 0 auto; /* Centrar horizontalmente */
    }

        .header{
            width:90%;
            height:auto;
            desplay:flex;
            justify-content:space-around;
            margin-bottom:30px;
        }

    
    .card2 {
        background: linear-gradient(0deg, rgba(128, 128, 128, 0), rgba(0, 0, 0, 0));
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        margin-top: 20px;
        width: 250px; /* Tamaño fijo */
        height: auto; /* Tamaño fijo */
    }
    .container{
       margin-top:10px;
    }
    
</style>
<a class="logop" href="//vimeo.com" alt="Ir a la página de inicio de Vimeo" aria-label="Ir a la página de inicio de Vimeo" data-fatal-attraction="container:top_nav|component:vimeo_home" data-gtm-click="top_nav_home_click">
    <svg alt="Vimeo" width="100" height="40"><path d="M22.448 14.575c-.104 2.17-1.618 5.146-4.544 8.912-3.03 3.942-5.59 5.912-7.686 5.912-1.297 0-2.397-1.204-3.3-3.6-.6-2.2-1.202-4.398-1.794-6.598-.664-2.396-1.38-3.6-2.147-3.6-.166 0-.747.354-1.753 1.05l-1.048-1.35c1.1-.965 2.19-1.93 3.257-2.905 1.463-1.265 2.573-1.94 3.3-2.002 1.732-.166 2.8 1.017 3.205 3.558.435 2.74.736 4.44.902 5.115.498 2.27 1.048 3.402 1.65 3.402.466 0 1.172-.737 2.105-2.21.934-1.473 1.432-2.593 1.504-3.37.133-1.277-.365-1.91-1.506-1.91-.53 0-1.08.125-1.65.364 1.1-3.59 3.186-5.333 6.277-5.23 2.273.073 3.35 1.556 3.227 4.46m13.755 7.034c-.933 1.764-2.22 3.37-3.86 4.803-2.24 1.93-4.47 2.905-6.7 2.905-1.037.002-1.826-.33-2.376-.994-.55-.663-.81-1.535-.777-2.603.03-1.1.372-2.8 1.025-5.104.654-2.303.976-3.537.976-3.703 0-.86-.3-1.297-.902-1.297-.198 0-.77.353-1.702 1.048l-1.152-1.35c1.07-.962 2.137-1.927 3.206-2.902 1.43-1.266 2.5-1.94 3.205-2.002 1.1-.103 1.91.23 2.428.976.518.747.705 1.722.58 2.915-.435 2.034-.902 4.607-1.4 7.73-.03 1.43.488 2.146 1.556 2.146.467 0 1.297-.498 2.5-1.483.996-.82 1.815-1.598 2.45-2.324l.942 1.244m-4.357-17.8c-.03.83-.446 1.628-1.255 2.395-.9.86-1.97 1.296-3.204 1.296-1.9 0-2.822-.83-2.75-2.49.032-.86.54-1.69 1.526-2.49.985-.797 2.074-1.19 3.278-1.19.705 0 1.286.27 1.753.82.467.54.684 1.1.653 1.66m35.612 17.8c-.933 1.763-2.22 3.37-3.86 4.802-2.24 1.93-4.47 2.904-6.7 2.904-2.168.002-3.216-1.202-3.153-3.598.03-1.07.238-2.355.622-3.85.384-1.503.59-2.665.623-3.505.03-1.265-.353-1.898-1.152-1.898-.87 0-1.91 1.036-3.112 3.1-1.276 2.168-1.96 4.274-2.064 6.308-.073 1.43.072 2.54.425 3.298-2.324.064-3.963-.32-4.886-1.15-.83-.737-1.212-1.95-1.15-3.652.03-1.068.198-2.137.488-3.205.29-1.07.457-2.023.488-2.853.062-1.234-.384-1.857-1.35-1.857-.84 0-1.74.955-2.706 2.853-.966 1.9-1.505 3.89-1.61 5.956-.06 1.867.053 3.174.364 3.9-2.293.062-3.92-.415-4.876-1.452-.798-.86-1.16-2.18-1.1-3.942.032-.86.188-2.075.457-3.62.28-1.546.425-2.75.457-3.62.062-.603-.083-.903-.446-.903-.197 0-.768.34-1.702 1.015l-1.203-1.348c.168-.135 1.216-1.1 3.156-2.905 1.4-1.297 2.354-1.97 2.852-2.002.872-.073 1.567.29 2.106 1.08.53.787.8 1.69.8 2.727 0 .332-.032.654-.105.954.497-.766 1.08-1.43 1.752-2 1.537-1.34 3.26-2.086 5.157-2.252 1.64-.135 2.8.25 3.505 1.152.57.736.83 1.784.8 3.153.237-.198.486-.416.746-.654.767-.903 1.514-1.62 2.25-2.148 1.235-.902 2.52-1.4 3.86-1.504 1.597-.135 2.75.25 3.454 1.152.602.726.87 1.774.8 3.143-.032.933-.26 2.28-.675 4.065-.416 1.773-.624 2.8-.624 3.07-.03.695.03 1.182.197 1.442.166.27.57.394 1.203.394.467 0 1.297-.497 2.5-1.482.996-.82 1.816-1.598 2.45-2.324l.963 1.254m18.765-.052c-.965 1.598-2.874 3.195-5.706 4.793-3.538 2.032-7.127 3.05-10.758 3.05-2.706 0-4.636-.904-5.808-2.7-.83-1.233-1.234-2.696-1.203-4.407.03-2.698 1.234-5.27 3.6-7.71 2.603-2.665 5.674-4.003 9.21-4.003 3.27 0 5 1.328 5.208 3.994.135 1.702-.798 3.445-2.8 5.24-2.137 1.96-4.824 3.215-8.06 3.744.6.83 1.504 1.245 2.707 1.245 2.396 0 5.02-.613 7.863-1.837 2.033-.86 3.63-1.753 4.803-2.676l.945 1.265m-11.36-5.228c.032-.892-.33-1.35-1.1-1.35-.994 0-2.01.686-3.048 2.066-1.038 1.38-1.567 2.697-1.598 3.962-.02 0-.02.218 0 .643 1.63-.6 3.05-1.514 4.242-2.738.966-1.058 1.463-1.92 1.505-2.583m24.946 1.868c-.135 3.072-1.265 5.717-3.402 7.947-2.135 2.23-4.79 3.35-7.955 3.35-2.635 0-4.637-.85-6.006-2.55-.997-1.267-1.557-2.854-1.65-4.752-.166-2.863.86-5.498 3.1-7.894 2.408-2.665 5.427-3.993 9.057-3.993 2.334 0 4.098.788 5.3 2.344 1.132 1.443 1.65 3.29 1.557 5.55m-5.664-.185c.03-.903-.094-1.733-.374-2.48-.28-.747-.695-1.13-1.224-1.13-1.702 0-3.102.923-4.202 2.76-.933 1.503-1.43 3.11-1.504 4.812-.03.84.114 1.577.446 2.21.364.736.882 1.1 1.556 1.1 1.505 0 2.79-.883 3.86-2.656.892-1.472 1.38-3.008 1.44-4.615h.002z" fill="#112233"></path></svg>

</a>
<div class="container">
   
    <div class="header">
        
        <br />
    
       
        <div style="display: flex; justify-content:center; margin-right:25px; width:80%">
            <input type="text" @bind="searchQuery" placeholder="Introduce búsqueda" style="height: 40px; margin-left:30%; background-color:#365664; color:white" />
            <RadzenButton Click="() => BuscarVideos(searchQuery)" Variant="Variant.Outlined" Text="Buscar" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Dark" Shade="Shade.Darker" style="font-weight: bold;" />
            <RadzenButton Click="() => LoginGo()" Variant="Variant.Outlined" Text="Volver" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Dark" Shade="Shade.Darker" style="font-weight: bold; margin-left:5px;" />
        </div>
    </div>

@if (buscandoVideos)
{
    
    <div class="d-flex align-items-center">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <span class="ml-2">Loading...</span>
    </div>
}
else
{
    @if (videos != null)
    {
        <div class="row">
            @foreach (var video in videos.Take(4))
            {
                <div class="col-md-3">
                    <div class="card2">
                            <h3 style="color:white; font-weight:600"><u>TÍTULO: @video.name</u></h3>
                            <RadzenButton Click="() => ToggleDescription(video)" Variant="Variant.Outlined" Text="Volver" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Dark" Shade="Shade.Darker" style="font-weight: bold; margin-left:5px;" />
                        <div class="description" style="display: @(video.ShowDescription ? "block" : "none");">
                                <h4 style="color:white; font-weight:600">DESCRIPCIÓN: @video.description</h4>
                        </div>
                        <a href="@video.link"><img src="@video.pictures.sizes[1].link_with_play_button" alt="Video" /></a>
                    </div>
                </div>
            }
        </div>
    }
}


<div class="row">
    <div class="col-md-3">
        <div class="card">
                <h3 style="color:white; font-weight:600">@searchQuery1</h3>
            <p><span class="icon">&#9733;</span> 50 vías</p>
            <RadzenButton Click="() => BuscarVideos(searchQuery1)"
                          Variant="Variant.Outlined"
                          Shade="Shade.Darker"
                          Icon="pageview"
                          ButtonStyle="ButtonStyle.Dark"
                          Size="ButtonSize.Medium"
                          style="font-weight: bold; border:solid 1px white" />
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38531.69481383389!2d-2.185835841325398!3d40.09736889895434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5d670b20120e65%3A0xa9dd9bfc4a08d2d5!2sPuente%20de%20Las%20Grajas!5e1!3m2!1ses!2ses!4v1700312468584!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
       
    </div>
    <div class="col-md-3">
        <div class="card">
                <h3 style="color:white; font-weight:600">@searchQuery2</h3>
            <p><span class="icon">&#9733;</span> 30 vías</p>
            <RadzenButton Click="() => BuscarVideos(searchQuery3)"
                          Variant="Variant.Outlined"
                          Shade="Shade.Darker"
                              Icon="pageview"
                              ButtonStyle="ButtonStyle.Dark"
                              Size="ButtonSize.Medium"
                              style="font-weight: bold; border:solid 1px white" />
                <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d306456.0279005681!2d-3.3319202265624672!3d40.49256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42ddcb1609565d%3A0xdb8adbe81280e93f!2sPunto%20de%20escalada%20Entrepe%C3%B1as!5e1!3m2!1ses!2ses!4v1700305563598!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="card">
                <h3 style="color:white; font-weight:600">@searchQuery3</h3>
            <p><span class="icon">&#9733;</span> 40 vías</p>
            <RadzenButton Click="() => BuscarVideos(searchQuery3)"
                          Variant="Variant.Outlined"
                          Shade="Shade.Darker"
                              Icon="pageview"
                              ButtonStyle="ButtonStyle.Dark"
                              Size="ButtonSize.Medium"
                              style="font-weight: bold; border:solid 1px white" />
                <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19041.196416931!2d-3.44055600820619!3d40.88444401258092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd43c041ce8efeab%3A0xccb5cfc10bd25e74!2sPont%C3%B3n%20de%20la%20Oliva!5e1!3m2!1ses!2ses!4v1700312423348!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="card">
                <h3 style ="color:white; font-weight:600">@searchQuery4</h3>
            <p><span class="icon">&#9733;</span> 25 vías</p>
            <RadzenButton Click="() => BuscarVideos(searchQuery4)"
                          Variant="Variant.Outlined"
                          Shade="Shade.Darker"
                              Icon="pageview"
                              ButtonStyle="ButtonStyle.Dark"
                              Size="ButtonSize.Medium"
                              style="font-weight: bold; border:solid 1px white" />            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2399.9870056961176!2d-2.817559674949047!3d40.32975107145383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42ea4b8ef68335%3A0x37b108e2c5452613!2sBarranco%20del%20Fin%20del%20Mundo!5e1!3m2!1ses!2ses!4v1700305617725!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
       
    </div>
</div>
</div>


@code {
    private bool buscandoVideos = false;
    public bool ShowDescription { get; set; }
    private string searchQuery = "";
    private List<Video> videos;
    private string searchQuery1 = "Escalada Cuenca";
    private string searchQuery2 = "Escalada Entrepeñas";
    private string searchQuery3 = "Escalada Patones";
    private string searchQuery4 = "Escalada Fin del Mundo";

    private string accessToken = "10feba93f1ee0e94d9830b7caff547ec";
    private readonly string clientId = "59dd4406a2ffdc66631f62f3d4407f5b4fc31760";
    private readonly string clientSecret = "RfLzh79Af5SKnk0lpAJRaYXjN/W4lMQcSmGtnEKwT+WUOabTfkYyFXhT2z0CmMQu2YMK4/agnod1jtPAUU9fuuDA7yABo7nxF0u3aAk7k64ybLRVcNjYJq5Spbrm7Jyw";
  
    private void SetSearchQuery(string school)
    {
       
        searchQuery = school;
        BuscarVideos(searchQuery);
    }
    private void ToggleDescription(Video video)
    {
        video.ShowDescription = !video.ShowDescription;
    }
    private class Video
    {
        public string name { get; set; }
        public string description { get; set; }
        public string link { get; set; }
        public Picture pictures { get; set; }
        public bool ShowDescription { get; set; }
    }
    private void LoginGo()
    {
        NavigationManager.NavigateTo("/");
    }
    private class Picture
    {
        public List<PictureSize> sizes { get; set; }
    }

    private class PictureSize
    {
        public string link_with_play_button { get; set; }
    }

    private async Task BuscarVideos(string searchQuery)
    {
        buscandoVideos = true;

        var httpClient = new HttpClient();
        var authHeaderValue = Convert.ToBase64String(Encoding.ASCII.GetBytes($"{clientId}:{clientSecret}"));
        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Basic", authHeaderValue);

        var response = await httpClient.GetFromJsonAsync<VimeoResponse>($"https://api.vimeo.com/videos?query={searchQuery}", new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true,
            });

        buscandoVideos = false;
        if (response != null)
        {
            videos = response.data;
        }
    }

    private class VimeoResponse
    {
        public List<Video> data { get; set; }
    }
}
